<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Ingrese Producto</h1>
    </div>
    <div>
        <form method="POST" action="/api/productos">
            <div>
            <p>Nombre</p>
            <input placeholder="Nombre" name="nombre"/>
            </div>
            <p>Precio</p>
            <input placeholder="Precio" name="precio" type="number"/>
            <p>Imagen URL</p>
            <input placeholder="Imagen" name="imagen"/>
            <p></p>
            <input value="Enviar" type="submit"/>
        </form>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
    
</body>
</html>